body {
    background-color: darkgray;
}

.weather {
   box-sizing: content-box;
   width: 1000px;
   height: 300px;
   border-style: solid;
   border-color: blue;
   background-color: darkgray;
   position: relative;
   left: 900px;
}

.days-container {
    position: relative;
    left: 900px;
    box-sizing: content-box;
    border-style: solid;
    width: 1000px;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: cornflowerblue;
    padding: auto;
}

/* display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px; */